<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ page.description }}" />
    </head>
    <body>
        <h1>{{ page.header }}</h1>
        <h2>{{ page.description }}</h2>
        <p>{{ page.text }}</p>
    </body>
</html>